<section class="about" id="about">
    <h1 class="heading"><span>About</span>Me</h1>
    <div class="row">
        <div class="info">
            <h3><span> name : </span> <%= data.username %> </h3>
            <h3><span> age : </span> <%=age.age %> Year </h3>
            <h3><span> post : </span> Web Developer </h3>
            <h3><span> language : </span> Indonesia, english </h3>
            <a href="https://drive.google.com/file/d/1sqWNtUUfaz96gXr-BMYxi9vU8WeC43cq/view?usp=sharing" target="_blank"><button class="btn">download CV <i class="fas fa-download"></i></button></a>
        </div>
        <div class="counter">
            <div class="box">
                <span>1</span>
                <h3>years of experience</h3>
            </div>
            <div class="box">
                <span><%= total.total %></span>
                <h3>project completed</h3>
            </div>
        </div>
    </div>
</section>