<section class="contact" id="contact">
    <h1 class="heading"><span>Contact</span> Me</h1>
    <div class="row">
        <div class="content">
            <div class="info">
                <h3><i class="fas fa-envelope"></i> <%= data.email %></h3>
                <h3><i class="fas fa-phone"></i> <%= data.phone %></h3>
                <h3><i class="fas fa-map-marker-alt"></i> <%= data.address %></h3>
            </div>
        </div>
    </div>
</section>