<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Post</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="/stylesheets/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/stylesheets/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/stylesheets/_all-skins.min.css">
    <!-- Google Font -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>

<body class="skin-blue">
    <div class="wrapper">
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
            <!-- Close Header -->
            <!-- Sidebar -->
            <%- include('../partials/sidebar.ejs') %>
                <!-- Close Sidebar -->
                <!-- Main -->
                <div class="content-wrapper">
                    <!-- Content Header (Page header) -->
                    <section class="content-header">
                        <h1>
                            Post
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                            <li class="active">Post</li>
                        </ol>
                    </section>
                    <section class="content">
                        <!-- Default box -->
                        <div class="box">
                            <div class="box-header with-border">
                                <span class="text-primary">Form Add</span>
                            </div>
                            <div class="box-body">
                                <form method="post" enctype="multipart/form-data">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="title">Title</label>
                                            <input type="text" class="form-control" id="title" name="title"
                                                placeholder="Enter...">
                                        </div>
                                        <div class="form-group">
                                            <label for="body">Body</label>
                                            <textarea name="body" class="form-control" id="body" cols="30"
                                                rows="10"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="Image">Image</label>
                                            <input type="file" id="imageone" name="imageone">
                                        </div>
                                        <div class="form-group">
                                            <label for="preview">Preview</label>
                                            <br>
                                            <img id="imagepreview" src="" style="height: 50%px; width: 50%;">
                                        </div>
                                    </div>
                                    <!-- /.box-body -->

                                    <div class="box-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.box -->

                    </section>
                </div>
                <!-- Main -->
                <!-- Footer -->
                <%- include('../partials/footer.ejs') %>
                    <!-- Close Footer -->
    </div>
    <!-- jQuery 3 -->
    <script src="/javascripts/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/stylesheets/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Slimscroll -->
    <script src="/javascripts/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/javascripts/fastclick/lib/fastclick.js"></script>
    <script>
        $('#imageone').change((e)=>{
            const [files] = imageone.files
            if(files){
                imagepreview.src = URL.createObjectURL(files)
            }
        })
    </script>
</body>

</html>